[Unit]
Description=Quote Service Application
After=network.target

[Service]
User=gmeyer
WorkingDirectory=/home/gmeyer/simple-microservice-devops/QuoteService/
ExecStart=/home/gmeyer/simple-microservice-devops/QuoteService/venv/bin/python /home/gmeyer/simple-microservice-devops/QuoteService/main.py
Restart=always

[Install]
WantedBy=multi-user.target
